body {
  background: #ECEEF1;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Styling of the header begins */
header {
  height: 50px;
  text-align: right;
  padding: 10px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px;
}

header ul li {
  display: inline-block;
}

header ul li p {
  margin: 0;
  padding: 0;
}

header button {
  padding: 10px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 3px;
  background: #0077C5;
  color: #fff;
}

/* Styling of the header ends */
.content {
  width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  /* height: 700px; */
}

#main-header {
  text-align: center;
}

.logo, .favicon-container {
  height: 60px;
}

.favicon-container ul {
  list-style: none;
  display: inline;
}

.favicon-container ul li {
  display: inline;
  font-size: 20px;
  padding: 5px;
}



.inner {
  vertical-align: middle;
}

.sign-up-form {
  background: #fff;
}

fieldset {
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 0;
  padding: 20px;
  border-radius: 3px;
  font-family: sans-serif;
}

.form-title {
  text-align: center;
  padding: 0 10px;
}

label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

label p {
  font-size: 10px;
}

input {
  background: #fff;
  border: 1px solid #c6c7cc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 10px 0;
  margin: 5px 0 12px 0;
  width: 100%;
}

fieldset button {
  padding: 15px 0;
  width: 100%;
  margin: 5px 0 12px 0;
  background: #0077C5;
  color: #fff;
  border: 1px solid #0077c5;
  border-radius: 5px;
  font-size: 18px;
}

.form-info {
  padding: 0 16px;
  text-align: center;
}

.form-info i {
  font-size: 12px;
}

.captcha-bar {
  text-align: center;
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #e1e1e1;
  background: #ECEEF1;
}

.captcha-bar p {
  font-size: 10px;
}

footer {
  text-align: center;
  padding: 0 50px;
}
