body {
  background: #ECEEF1;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Styling of the header begins */
header {
  /*height: 50px;*/
  /* background: red; */
  /*text-align: right;*/
  /*padding: 10px;*/
  /*display: flex;
  float: right;*/
}

/*header span {
  
  margin: 10px;
}

header span p{
  margin-bottom: -6px;
}
*/

.signin_btn{

}

header button {
  padding: 10px;
  width: 100px;
  border: 1px solid #000;
  border-radius: 3px;
  
}

/* Styling of the header ends */
.content {
  width: 450px;
   /*background: #fff; */
  padding: 40px 20px;
  height: 700px;
  margin: 0 auto;
  margin-top: 55px;
}

#main-header {
  text-align: center;
}

.logo, .favicon-container {
  height: 60px;
}

.favicon-container ul {
  list-style: none;
  display: inline;
}

.favicon-container ul li {
  /*padding: 20px;*/
  display: inline;
  font-size: 20px;
}

.sign-up-form {
  background: #fff;
}
